h1 {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-size: 3em;
}

/*-- ID'S --*/

#top {
    background: #1e2732;
    height:750px;
    text-align: center;
    color:#ffffff;
}

#top h1 {
    padding-top:300px;
}

#scroll {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

#scroll img {
    position: relative;
}

#scroll div {
    position: relative;
}

#me {
    height: 300px;
    border-radius: 50%;
}

#me.animate {
    transform: translate(5em, 0);
    -moz-transform: translate(5em, 0);
    -webkit-transform: translate(5em, 0);
}

.animate {
    transition: 2s ease-in-out;
    -moz-animation: 2s ease-in-out;
    -webkit-animation: 2s ease-in-out;
}

#education {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 50px;
    background-color: dodgerblue;
    color: #ffffff;
    width: 300px;
}

#education:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#education.animate {
    transform: translate(-5em, 0);
    -moz-transform: translate(-5em, 0);
    -webkit-transform: translate(-5em, 0);
}

.box2 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 49%;
    padding: 50px;
    background-color: dodgerblue;
    color: #ffffff;
    float: right;
    text-align: right;
    box-sizing: border-box;
}

.box2:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;

-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
animation-duration: 1s;
*/





